@using Portal
@using Portal.Models
@using System.Collections.Generic
@{
    Layout = "_Layout";
    var forms = new Dictionary<AuthPage, FormVM>()
    {
        [AuthPage.Login] = new FormVM()
        {
            Item = Model,
            Header = "Вход",
            SubmitText = "Войти",
            FieldsViewName = "_Login",
            ControllerName = "auth",
            AltActionText = "Нет аккаунта?\nПройдите регистрацию",
            AltActionUrl = "/auth/register",
        },
        [AuthPage.Register] = new FormVM()
        {
            Item = Model,
            Header = "Регистрация",
            SubmitText = "Отправить",
            FieldsViewName = "_Register",
            ControllerName = "auth",
            ActionName = "register",    
            AltActionText = "Уже зарегистрированы?\nВойти",
            AltActionUrl = "/auth", 
        },
    };
}

<div class="min-vh-100 d-flex flex-column justify-content-center">
    <div class="container col-sm-10 col-lg-5">
        @await Html.PartialAsync("_GenericForm", (object)forms[ViewBag.AuthPage])
    </div>
</div>